/*Drop Down Styling */
.dropdown 
{
  display: inline-block;
  position: relative;
  
}

.dropbtn
{
  width: 84px;
  height: 84px;
  border-radius: 10px;
  border: none;
  background: #F4F4F4;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  width: auto;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.dropdown-content a 
{
  display: block;
  background: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  color: #000000;

}

.dropdown-content a:hover 
{
  color: #000000;
  background-color: #F4F4F4;
}

/*Center align images*/
.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rectangle
{
  width: 100vw;
  height: 100px;
  border:none;
  background: #90171C;
  align-items: center;
}

.logo
{
  width: 331px;
  height: 221px;
}

nav
{
  text-align: left;
}

/* Heading Styling*/
h1 
{
  font-size: 64px;
  color: #000000;
  text-align: center;
}

h2 
{
  font-size: 32px;
  color: #000000;
  text-align: center;
  font-weight: normal;
}

h3
{
  font-size: 32px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

/* Body styling */
body 
{
  color: #000000;
  font-family: Century Gothic;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}

/*Footer Styling*/
footer
{
  background: #F4F4F4;
  height: 157px;
}

.container
{
  max-width: 960px;
  padding: 40px 10px;
  margin: 0 auto;
}

/* Description Styling*/
.d-table 
{
  display:table;
}

.d-table-cell 
{
  display:table-cell;
}

.w-100 
{
  width: 100%;
}

.desc1
{
  font-size: 24px;
  text-align: left;
}

.desc2
{
  font-size: 24px;
  text-align: right;
}

/*Button Link Styling */
.button-link
{
  background: #90171C;
  border: transparent;
  width: 284px;
  height: 76px;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 40px;
  font-family: Century Gothic;
}